body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;

  color: var(--main-white);

  cursor: url('../../images/cursor-black.png') 15 12, auto;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: url('../../images/cursor-green.png') 15 12, auto;
}
button {
  display: block;
  cursor: pointer;
  cursor: url('../../images/cursor-green.png') 15 12, auto;
  border: none;
  font-family: inherit;
}
