@import './decimals';

@mixin link {
  text-decoration: none;
}
@mixin list {
  list-style: none;
}

@mixin fonts($fw, $fs, $lh, $ls) {
  font-weight: $fw;
  font-size: $fs;
  line-height: decimal-round($lh / $fs);
  letter-spacing: $ls;
}

@mixin section($pt, $pb) {
  padding-top: $pt;
  padding-bottom: $pb;
}

@mixin circle($w: 44px, $h: 44px, $br: 50%) {
  width: $width;
  height: $height;
  border-radius: $radius;
}

@mixin transitionBack($type: color, $type2: background-color) {
  transition: $type 250ms $timing-function, $type2 250ms $timing-function;
}
@mixin container($padd-top: 0, $padd-btm: 0, $width: 100%) {
  padding: 0 15px;
  padding-top: $padd-top;
  padding-bottom: $padd-btm;
  width: $width;
  // margin: 0 auto;
  @media screen and (min-width: 480px) {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}



@mixin flex ($fd: row, $wr: nowrap, $acon: normal, $jc: normal, $it: normal) {
  display: flex;
  flex-direction: $fd;
  flex-wrap: $wr;
  align-content: $acon;
  justify-content: $jc;
  align-items: $it;
}

@mixin centeredFlex($display: flex, $align: center, $justify: center) {
  display: $display;
  align-items: $align;
  justify-content: $justify;
}

