@import 'decimals';

@mixin link {
  text-decoration: none;
}
@mixin list {
  list-style: none;
}

@mixin fonts($fw, $fs, $lh, $ls) {
  font-weight: $fw;
  font-size: $fs;
  line-height: decimal-round($lh / $fs);
  letter-spacing: $ls;
}

@mixin section($pt, $pb) {
  padding-top: $pt;
  padding-bottom: $pb;
}

@mixin circle($w: 44px, $h: 44px, $br: 50%) {
  width: $width;
  height: $height;
  border-radius: $radius;
}


@mixin flex ($fd: row, $wr: nowrap, $acon: normal, $jc: normal, $it: normal) {
  display: flex;
  flex-direction: $fd;
  flex-wrap: $wr;
  align-content: $acon;
  justify-content: $jc;
  align-items: $it;
}
