:root {
  // Color
  --main-accent: #f8d24e;
  --main-white: #fcfcfc;
  --secondary-white: #ababab;
  --main-dark: #131313;
  --main-green: #84a178;
  --main-dark-green: #0a8817;
  --main-red: #d6936d;
  --main-grey-footer: #7a7a7a;
  --main-white-hover: #fff;

  // Fonts
  --secondary-font: 'Seymour One', sans-serif;
}
