<section class="contacts">
  <div class="container contacts__container">
    <h2 class="contacts__title visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__category">CAFE</p>
        <p class="contacts__city">Chicago</p>
        <a
          class="contacts__map"
          href="https://goo.gl/maps/dbSogYFaiqiwbr8TA"
          target="_blank"
          rel="noopener noreferrer"
        >
          10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
        </a>
        <div class="contacts__schedule">
          <div class="contacts__weekdays">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__hours">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts__weekend">
            <p class="contacts__days">Saturday - Sunday</p>
            <p class="contacts__hours">08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <address>
          <a class="contacts__link" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts__link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </address>
      </li>
      <li class="contacts__item">
        <p class="contacts__category contacts__category--wide">FOOD TRUCK</p>
        <p class="contacts__city">Los Angeles</p>
        <a
          class="contacts__map contacts__map--wide"
          href="https://goo.gl/maps/uHAGFa46XE6GUkT79"
          target="_blank"
          rel="noopener noreferrer"
        >
          1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
        </a>
        <div class="contacts__schedule">
          <div class="contacts__weekdays">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__hours">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts__weekend">
            <p class="contacts__days">Saturday - Sunday</p>
            <p class="contacts__hours">08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <address>
          <a class="contacts__link" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts__link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </address>
      </li>
      <li class="contacts__item">
        <p class="contacts__category">CAFE</p>
        <p class="contacts__city">New York</p>
        <a
          class="contacts__map contacts__map--narrow"
          href="https://goo.gl/maps/ykRGBXUhzxNnUNzf6"
          target="_blank"
          rel="noopener noreferrer"
        >
          726 Sterling Pl, Brooklyn, NY 11222, USA
        </a>
        <div class="contacts__schedule">
          <div class="contacts__weekdays">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__hours">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts__weekend">
            <p class="contacts__days">Saturday - Sunday</p>
            <p class="contacts__hours">08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <address>
          <a class="contacts__link" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts__link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </address>
      </li>
    </ul>
    <div class="contacts__buttons">
      <button
        class="contacts__btn contacts__btn--map"
        type="button"
        data-map-modal-open
      >
        Our Locations
        <svg class="contacts__icon" width="12" height="12">
          <use href="./images/icons.svg#icon-vector"></use>
        </svg>
      </button>
      <button
        class="contacts__btn contacts__btn--franch"
        type="button"
        data-franch-modal-open
      >
        Franchise
        <svg class="contacts__icon" width="12" height="12">
          <use href="./images/icons.svg#icon-vector"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
