<footer class="footer">
  <div class="container footer__container">
    <div class="footer-title__wrapper">
      <p class="footer__title">homemade ice cream made</p>
      <p class="footer__quote">with passion</p>
    </div>

    <div class="socials__wrapper">
      <ul class="socials__list">
        <li class="socials__item">
          <a
            href="https://github.com/"
            target="_blank"
            class="socials__link"
            rel="noopener noreferrer nofollow"
          >
            <svg class="socials__icon" width="32" height="32">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            href="https://web.telegram.org/z/"
            target="_blank"
            class="socials__link"
            rel="noopener noreferrer nofollow"
          >
            <svg class="socials__icon" width="32" height="32">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            class="socials__link"
            rel="noopener noreferrer nofollow"
          >
            <svg class="socials__icon" width="32" height="32">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="contact__wrapper">
        <p class="contact__title">
          Feel free to contact
          <a href="tel:+610383766284" class="contact__number">
            +61 (0) 383 766 284</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p class="copyright__title">&#169; 2022 - IceCream.</p>
    <p class="copyright__title copyright__title--block">All Rights Reserved.</p>
  </div>
</footer>
