
<section class="gallery">
  <div class="container slide-window">
    <div class="container">
      <div class="slide" id="slide1">
        <picture>
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/slider-ice-cream-sm@1x.webp 1x,
              ./images/gallery/slider-ice-cream-sm@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/slider-ice-cream-sm@1x.png 1x,
              ./images/gallery/slider-ice-cream-sm@2x.png 2x
            "
            type="image/png"
          />
          <!-- Tablet screen -->
          <source media="(min-width: 768px )" srcset="
          ./images/gallery/slider-ice-cream-md@1x.webp 1x,
          ./images/gallery/slider-ice-cream-md@2x.webp 2x
          " type="image/webp" />
          <source media="(min-width: 768px)" srcset="
          ./images/gallery/slider-ice-cream-md@1x.png 1x,
          ./images/gallery/slider-ice-cream-md@2x.png 2x" type="image/png" />
          <!-- Desktop screen -->
          <source media="(min-width: 1200px)" srcset="
          ./images/gallery/slider-ice-cream-lg@1x.webp 1x,
          ./images/gallery/slider-ice-cream-lg@2x.webp 2x
          " type="image/webp" />
          <source media="(min-width: 1200px)" srcset="
          ./images/gallery/slider-ice-cream-lg@1x.png 1x,
          ./images/gallery/slider-ice-cream-lg@2x.png 2x
          " type="image/png" />
          <img
            class="slide1__img"
            src="./images/gallery/slider-ice-cream-lg@1x.webp"
            alt="ice-cream"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="slide" id="slide2">
        <picture>
            <!-- Mobile screen -->
            <source media="(max-width: 767px)" srcset="" type="image/webp">
            <source media="(max-width: 767px)" srcset="" type="image/png">
            <!-- Tablet screen -->
            <source media="(min-width: 768px)" srcset="" type="image/webp">
            <source media="(min-width: 768px)" srcset="" type="image/png">
            <!-- Desktop screen -->
            <source media="(min-width: 1200px)" srcset="./images/gallery/slider-ice-cream-lg@1x-1.webp 1x,
            ./images/gallery/slider-ice-cream-lg@2x-1.webp 2x
            " type="image/webp">
            <source media="(min-width: 1200px)" srcset="./images/gallery/slider-ice-cream-lg-lg@1x-1.png 1x,
            ./images/gallery/slider-ice-cream-lg-lg@2x.png 2x
            " type="image/png">
            <img src="" alt="ice-cream">
        </picture>
      </div>
      <div class="slide" id="slide3"></div>
            <picture>
                <!-- Mobile screen -->
                <source media="(max-width: 767px)" srcset="" type="image/webp">
                <source media="(max-width: 767px)" srcset="" type="image/png">
                <!-- Tablet screen -->
                <source media="(min-width: 768px)" srcset="" type="image/webp">
                <source media="(min-width: 768px)" srcset="" type="image/png">
                <!-- Desktop screen -->
                <source media="(min-width: 1200px)" srcset="./images/gallery/slider-ice-cream-lg@1x-2.webp 1x,
                ./images/gallery/slider-ice-cream-lg@2x-2.webp 2x
                " type="image/webp">
                <source media="(min-width: 1200px)" srcset="./images/gallery/slider-ice-cream-lg@1x-1.png 1x,
                ./images/gallery/slider-ice-cream-lg-lg@2x-2.png 2x" type="image/png">
                <img src="" alt="ice-cream">
            </picture>
    </div>
  </div>
</section>
