<section class="slick">
    <div class="container gallery__container">
        <ul class="slick-js">
            <li class="slick-item">
                <picture>
                    <!-- mobile -->
                    <source media="(max-width: 767px)" srcset="./images/gallery/slider-ice-cream-sm@1x.png">
                    <!-- tablet -->
                    <source media="(min-width: 768px)" srcset="./images/gallery/slider-ice-cream-md@1x.png">
                    <!-- desktop -->
                    <source media="(min-width: 1200px)" srcset="./images/gallery/slider-ice-cream-lg@1x.png">
                    <img src="./images/gallery/slider-ice-cream-lg@1x.png" alt="ice-cream">
                </picture>
            </li>
            <li>
                <picture>
                    <source media="(min-width: 1200px)" srcset="./images/gallery/slider-ice-cream-lg@1x-1.png">
                    <img src="./images/gallery/slider-ice-cream-lg@1x-1.png" alt="ice-cream">
                </picture>
            </li>
            <li>
                <picture>
                    <source media="(min-width: 1200px)" srcset="./images/gallery/slider-ice-cream-lg-lg@1x-1.png">
                    <img src="./images/gallery/slider-ice-cream-lg-lg@1x-1.png" alt="ice-cream">
                </picture>
            </li>
        </ul>
    </div>
</section>