<!-- <button class=" burger__btn burger__btn--opened js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
    <svg class="burger__icon">
        <use href="./images/icons.svg##icon-menu"></use>
    </svg>
</button>
<div class="mobile-menu js-menu-container is-open" id="mobile-menu">
    <div class="menu-container">
        <button class="burger__btn burger__btn--closed js-close-menu" aria-expanded="true">
            <svg class="burger__icon-close">
                <use href="./images/icons.svg#icon-modal-close"></use>
            </svg>
        </button>
        <div class="mobile-nav">
            <p class="mobile-nav__label">Buy now</p>
            <div class="mobile-nav__container">
                <ul class="mobile-nav__list">
                    <li class="mobile-nav__item">
                        <div class="mobile-nav__item-img">
                            <picture>
                                <source srcset="./images/header-modal/modal-hero-lg@1x.png 1x"
                                    media="(min-width:1200px)" type="image/png" />
                                <source srcset="./images/header-modal/modal-hero-lg@1x.webp 1x"
                                    media="(min-width:1200px)" type="image/webp" />
                                <source srcset="./images/header-modal/modal-hero-lg@2x.png 2x" media="(min-width:480px)"
                                    type="image/png"" />
                                                                    <source srcset="
                                    ./images/header-modal/modal-hero-lg@2x.webp 2x" media="(min-width:480px)"
                                    type="image/webp" />
                                <img src="./images/header-modal/modal-hero-lg@1x.png" alt="colorful-icecream"
                                    class="icecream">
                            </picture>
                        </div>
                        <div class="icecream-cards">
                            <p class="icecream-cards__name">ice cream</p>
                        </div>
                    </li>
                    <li class="mobile-nav__item">
                        <div class="mobile-nav__item-img">
                            <picture>
                                <source srcset="./images/header-modal/modal-hero-lg@1x-2.png   1x"
                                    media="(min-width:1200px)" type="image/png" />
                                <source srcset="./images/header-modal/modal-hero-lg@1x-2.webp 1x"
                                    media="(min-width:1200px)" type="image/webp" />
                                <source srcset="./images/header-modal/modal-hero-lg@2x-2.png 2x"
                                    media="(min-width:480px)" type="image/png"" />
                                        <source srcset=" ./images/header-modal/modal-hero-lg@2x-2.webp 2x"
                                    media="(min-width:480px)" type="image/webp" />
                                <img src="./images/header-modal/modal-hero-lg@1x-2.png" alt="coffee-icecream">
                            </picture>
                        </div>
                        <div class="icecream-cards">
                            <p class="icecream-cards__name">ice coffee</p>
                        </div>
                    </li>
                    <li class="mobile-nav__item">
                        <div class="mobile-nav__item-img">
                            <picture>
                                <source srcset="./images/header-modal/modal-hero-lg@1x-1.png 1x"
                                    media="(min-width:1200px)" type="image/png" />
                                <source srcset="./images/header-modal/modal-hero-lg@1x-1.webp 1x"
                                    media="(min-width:1200px)" type="image/webp" />
                                <source srcset="./images/header-modal/modal-hero-lg@2x-1.png 2x"
                                    media="(min-width:480px)" type="image/png"" />
                                        <source srcset=" ./images/header-modal/modal-hero-lg@2x-1.webp 2x"
                                    media="(min-width:480px)" type="image/webp" />
                                <img src="./images/header-modal/modal-hero-lg@1x-1.png" alt="colorful-icecream">
                            </picture>
                        </div>
                        <div class="icecream-cards">
                            <p class="icecream-cards__name">milkshake</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="form__container">
            <form class="form__personal-data">
                <div class="form__field">
                    <label class="form__label" for="name"></label>
                    <input class="form__input" type="text" name="name" id="name" placeholder="Name" />
                </div>
                <div class="form__field"> <label class="form__label" for="tel"></label>
                    <input class="form__input" type="tel" name="tel" id="tel" placeholder="Telephone" />
                </div>
                <div class="form__comment"> <label class="form__comment-label" for="comment"></label>
                    <textarea name="comment" id="comment" placeholder="Comment" rows="7"></textarea>
                </div>
                <button class="form__btn" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
<script defer src="./header-modal.js"></script> -->
