<header class="header">
  <div class="header__container container">
    <a class="header__logo" href="./index.html">
      <img class="header__img" src="./images/logo.png" alt="ice cream logo" />
    </a>

    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="./index.html">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">How it’s made?</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">Our products</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">Contact</a>
        </li>
      </ul>
    </nav>

    <button
      type="button"
      class="mobile-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg
        class="mobile-icon"
        width="32"
        height="32"
        aria-label="перемикач мобільного меню"
      >
        <use href="./images/icons.svg#burger-menu"></use>
      </svg>
    </button>

    <button class="header__button" type="button">
      Buy now
      <svg class="header__icon" width="12" height="12">
        <use href="./images/icons.svg#icon-vector"></use>
      </svg>
    </button>
  </div>
</header>
=======
