        <section class="container hero">
            <div class="hero__thumb">
                <h1 class="hero__title">Ice cream made with <span class="hero__title-span">passion</span>
                </h1>
                <div class="hero__sub-thumb">
                    <ul class="hero__list">
                        <li class="hero__item">
                            16
                        </li>
                        <li class="hero__sub-item">
                            cafes
                        </li>
                    </ul>
                    <ul class="hero__sub-list">
                        <li class="hero__item">
                            23
                        </li>
                        <li class="hero__sub-item">
                            food trucks
                        </li>
                    </ul>
                </div>
            </div>
            <div class="hero__div">
                <button type="button" class="hero__button">Products
                </button>
                <a class="hero__link" href="">How it's made?
                </a>
            </div>
            <div class="hero__sub-div">
                <picture>
                <source media="(max-width: 1199px)" srcset="./images/hero/plates-ice-cream-md@1x.webp 1x, ./images/hero/plates-ice-cream-md@2x.webp 2x" type="image/webp">
                <source media="(max-width: 1199px)" srcset="./images/hero/plates-ice-cream-md@1x.png 1x, ./images/hero/plates-ice-cream-md@2x.png 2x" type="image/png">
                <source media="(min-width: 1200px )" srcset="./images/hero/plates-ice-cream-lg@1x.webp 1x, ./images/hero/plates-ice-cream-lg@2x.webp 2x" type="image/webp">
                <source media="(min-width: 1200px)" srcset="./images/hero/plates-ice-cream-lg@1x.png 1x, ./images/hero/plates-ice-cream-lg@2x.png 2x" type="image/png">
                <img class="hero__img" src="./images/hero/plates-ice-cream-md@1x.webp" alt="ice-cream-on-plate" loading="lazy">
                </picture>
                <div class="hero__text-div">
                    <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et</p>
                    <svg>
                        <use class="hero__svg" href="./images/icons.svg#icon-white-arrow" width="40"></use>
                    </svg>
                </div>
                <picture>
                    <source media="(max-width: 767px)" srcset="./images/hero/ice-cream-sm@1x.webp 1x, ./images/hero/ice-cream-sm@2x.webp 2x" type="image/webp">
                    <source media="(max-width: 767px)" srcset="./images/hero/ice-cream-sm@1x.png 1x, ./images/hero/ice-cream-sm@2x.png 2x" type="image/png">
                    <source media="(min-width: 768px)" srcset="./images/hero/ice-cream-md@1x.webp 1x, ./images/hero/ice-cream-md@2x.webp 2x" type="image/webp">
                    <source media="(min-width: 768px)" srcset="./images/hero/ice-cream-md@1x.png 1x, ./images/hero/ice-cream-md@2x.png 2x" type="image/png">
                    <source media="(min-width: 1200px )" srcset="./images/hero/ice-cream-lg@1x.webp 1x, ./images/hero/ice-cream-lg@2x.webp 2x" type="image/webp">
                    <source media="(min-width: 1200px)" srcset="./images/hero/ice-cream-lg@1x.png 1x, ./images/hero/ice-cream-lg@2x.png 2x" type="image/png">
                    <img class="hero__main-img" src="./images/hero/ice-cream-sm@1x.webp" alt="ice-cream" loading="lazy">
                </picture>
            </div>
            <!-- <img class="hero__bottom-mobile-frame"
                srcset="./images/bottom-frame-mobile.png 1x, ./images/bottom-frame-mobile@2x.png 2x"
                src="./images/bottom-frame-mobile.png" alt="Bottom frame">
            <img class="hero__bottom-tablet-frame"
                srcset="./images/bottom-frame-tablet.png 1x, ./images/bottom-frame-tablet@2x.png 2x"
                src="./images/bottom-frame-tablet.png" alt="Bottom frame">
            <img class="hero__bottom-desktop-frame"
                srcset="./images/bottom-frame-desktop.png 1x, ./images/bottom-frame-desktop@2x.png 2x"
                src="./images/bottom-frame-desktop.png" alt="Bottom frame"> -->
        </section>