<section class="hero" id="hero">
  <div class="container">
    <div class="hero__thumb">
      <h1 class="hero__title animate__animated animate__fadeInTopLeft">
        Ice cream made with <span class="hero__title-span">passion</span>
      </h1>
      <div class="hero__sub-thumb">
        <ul class="hero__list">
          <li class="hero__item">16</li>
          <li class="hero__sub-item">cafes</li>
        </ul>
        <ul class="hero__sub-list">
          <li class="hero__item">23</li>
          <li class="hero__sub-item">food trucks</li>
        </ul>
      </div>
    </div>
    <div class="hero__div">
      <a href="#products">
        <button type="button" class="hero__button">Products</button>
      </a>
      <a class="hero__link" href="#about">How it's made? </a>
    </div>
    <div class="hero__sub-div">
      <picture>
        <source
          media="(max-width: 1199px)"
          srcset="
            ./images/hero/plates-ice-cream-md@1x.webp 1x,
            ./images/hero/plates-ice-cream-md@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 1199px)"
          srcset="
            ./images/hero/plates-ice-cream-md@1x.png 1x,
            ./images/hero/plates-ice-cream-md@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 1200px )"
          srcset="
            ./images/hero/plates-ice-cream-lg@1x.webp 1x,
            ./images/hero/plates-ice-cream-lg@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/hero/plates-ice-cream-lg@1x.png 1x,
            ./images/hero/plates-ice-cream-lg@2x.png 2x
          "
          type="image/png"
        />
        <img
          class="hero__img"
          src="./images/hero/plates-ice-cream-md@1x.webp"
          alt="ice-cream-on-plate"
          loading="lazy"
        />
      </picture>
      <div class="hero__text-div">
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a href="#galery">
          <svg width="40" height="15">
            <use
              class="hero__svg"
              href="./images/icons.svg#icon-arrow"
              width="40"
              height="15"
            ></use>
          </svg>
        </a>
      </div>

      <div class="image-wrapper">
        <div class="glow-wrapper">
          <picture>
            <img
              class="hero__image hero__image--icecream"
              src="./images/hero/blur__lg@1x.png"
              alt="Ice cream"
            />
          </picture>
        </div>
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/hero/ice-cream__lg-new2.png 1x,
              ./images/hero/ice-cream__lg-new2.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/hero/ice-cream__md-@1x.webp 1x,
              ./images/hero/ice-cream__md-@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/hero/ice-cream__md-@1x.png 1x,
              ./images/hero/ice-cream__md-@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/hero/ice-cream__sm-@1x.webp 1x,
              ./images/hero/ice-cream__sm-@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/hero/ice-cream__sm-@1x.png 1x,
              ./images/hero/ice-cream__sm-@2x.png 2x
            "
            type="image/png"
          />

          <img
            class="hero__main-img"
            src="./images/hero/ice-cream__sm-@1x.png"
            alt="ice-cream"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
