<!---------------------- MODAL 1 ICECREAM ------------------->
<div class="backdrop scroll-backdrop products-hidden" products-modal>
  <div class="modal__product products-modal">
    <button
      type="button"
      class="modal__button-close products-btn-close"
      products-modal-close
    >
      <svg class="modal__icon-close" width="20" height="20">
        <use href="./images/icons.svg#icon-modal-close"></use>
      </svg>
    </button>
    <div class="scroll-container">
      <p class="modal__products-header title--dark">Chocolate icecream</p>
      <div class="modal__image-wrap">
        <img
          class="modal__products-image"
          srcset="
            ./images/products/modal/ice-cream-modal-2-lg@1x.png 1x,
            ./images/products/modal/ice-cream-modal-2-lg@2x.png 2x
          "
          src="./images/products/modal/ice-cream-modal-2-lg@1x.png"
          width="131"
          alt="ice cream"
        />
      </div>

      <ul class="modal__radio-list">
        <li class="modal__radio-item">
          <p class="modal__radio-value">320</p>
          <p class="modal__radio-specification">kcal</p>
        </li>
        <li class="modal__radio-item">
          <p class="modal__radio-value">4g</p>
          <p class="modal__radio-specification">Protein</p>
        </li>
        <li class="modal__radio-item">
          <p class="modal__radio-value">8,2g</p>
          <p class="modal__radio-specification">Fats</p>
        </li>
        <li class="modal__radio-item">
          <p class="modal__radio-value">40,4g</p>
          <p class="modal__radio-specification">Carbs</p>
        </li>
      </ul>

      <p class="modal__products-title">Ingredients</p>
      <ul class="modal__products-list list">
        <li class="modal__products-item">
          <p class="modal__products-text">Milk</p>
          <p class="modal__products-text">100ml</p>
        </li>

        <li class="modal__products-item">
          <p class="modal__products-text">Belgian chocolate</p>
          <p class="modal__products-text">20g</p>
        </li>

        <li class="modal__products-item">
          <p class="modal__products-text">Cream</p>
          <p class="modal__products-text">150ml</p>
        </li>

        <li class="modal__products-item">
          <p class="modal__products-text">Cocoa powder</p>
          <p class="modal__products-text">30g</p>
        </li>

        <li class="modal__products-item">
          <p class="modal__products-text">Sugar</p>
          <p class="modal__products-text">40g</p>
        </li>

        <li class="modal__products-item">
          <p class="modal__products-text">Vanilla sugar</p>
          <p class="modal__products-text">10g</p>
        </li>
      </ul>
      <form class="modal__products-form">
        <div class="modal__input-wrap">
          <label
            ><input
              type="text"
              name="user-name-icecream"
              class="modal__products-input"
              placeholder="Name"
              required
              id="user-name-icecream"
            />
          </label>

          <label
            ><input
              type="tel"
              name="user-telefon-icecream"
              class="modal__products-input"
              placeholder="Phone"
              required
              id="user-telefon-icecream"
            />
          </label>

          <label>
            <textarea
              name="user-text-icecream"
              id="user-text-icecream"
              class="modal__products-comment"
              placeholder="Comment"
            ></textarea>
          </label>
        </div>

        <button
          type="submit"
          class="btn--color-light modal__products-btn-submit"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
