<section class="products">
  <div class="comtainer">
    <p class="products__uppertittle">100% natural</p>
    <h2 class="products__title">products</h2>

    <ul class="products__list list">
      <li class="products__item">
        <picture>
          <!-- desktop -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./src/images/products/ice-cream-product-lg-8@1x.webp,
              ./src/images/products/ice-cream-product-lg-8@2x.webp
            "
            type="image/webp"
          />
          <source
            media="(1200px)"
            srcset="
              ./src/images/products/ice-cream-product-lg-8@1x.png,
              ./src/images/products/ice-cream-product-lg-8@2x.png
            "
            type="image/png"
          />
        </picture>
        <div class="product__wrapper">
          <h3>ice cream</h3>
          <p>
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
        </div>
      </li>
      <li class="products__item">
        <div class="product__wrapper">
          <h3>ice coffee</h3>
          <p>
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
        </div>
      </li>
      <li class="products__item">
        <div class="product__wrapper">
          <h3>milkshakes</h3>
          <p>
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
