<section class="products">
  <div class="container products__container">
    <p class="products__uppertittle">100% natural</p>
    <h2 class="products__title">products</h2>

    <ul class="products__list list">
      <li class="products__item">
        <div class="product__wrapper">
          <h3 class="product__heading">ice cream</h3>
          <p class="product__description">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
          <button class="product__button" type="button">
            <svg class="product__icon" width="40">
              <use href="./images/icons.svg#icon-arrow-short"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__item">
        <div class="product__wrapper">
          <h3 class="product__heading">ice coffee</h3>
          <p class="product__description">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
          <button class="product__button" type="button">
            <svg class="product__icon" width="40">
              <use href="./images/icons.svg#icon-arrow-short"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__item">
        <div class="product__wrapper">
          <h3 class="product__heading">milkshakes</h3>
          <p class="product__description">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
          <button class="product__button" type="button">
            <svg class="product__icon" width="40">
              <use href="./images/icons.svg#icon-arrow-short"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
