<section class="reviews">
  <div class="reviews-container">
  <h2 class="visually-hidden">Reviews about us</h2>
  <div class="reviews__container container multiple-items slick" >
    <div class="slider">
      <div class="reviews__pic">
      <picture>
        <source srcset="./images/reviews/foto-lg@1x.webp 1x, ./images/reviews/foto-lg@2x.webp 2x" type="image/webp"/>
        <source srcset="./images/reviews/foto-lg@1x.png 1x, ./images/reviews/foto-lg@2x.png 2x" type="image/png" />
        <img src="./images/reviews/foto-lg@1x.png" alt="Photo" /> 
      </picture>
    </div>
      <p class="review">
        I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff.
      </p>
      <p class="review__name">Emily, Los Angeles</p>
    </div>
    <div class="slider">
      <div class="reviews__pic">
      <picture>
        <source srcset="./images/reviews/foto-lg@1x.webp 1x, ./images/reviews/foto-lg@2x.webp 2x" type="image/webp"/>
        <source srcset="./images/reviews/foto-lg@1x.png 1x, ./images/reviews/foto-lg@2x.png 2x" type="image/png" />
        <img src="./images/reviews/foto-lg@1x.png" alt="Photo" /> 
      </picture>
    </div>
      <p class="review">
        Every day we come to you with friends after classes in college. We love your ice cream and casual atmosphere!
      </p>
      <p class="review__name">Bryan, New-York</p>
    </div>
    <div class="slider">
      <div class="reviews__pic">
      <picture>
        <source srcset="./images/reviews/foto-lg@1x.webp 1x, ./images/reviews/foto-lg@2x.webp 2x" type="image/webp"/>
        <source srcset="./images/reviews/foto-lg@1x.png 1x, ./images/reviews/foto-lg@2x.png 2x" type="image/png" />
        <img src="./images/reviews/foto-lg@1x.png" alt="Photo" /> 
      </picture>
    </div>
      <p class="review">
        Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service - always served politely and quickly!
      </p>
      <p class="review__name">Diana, Chicago</p>
    </div>
    <div class="slider">
      <div class="reviews__pic">
      <picture>
        <source srcset="./images/reviews/foto-lg@1x.webp 1x, ./images/reviews/foto-lg@2x.webp 2x" type="image/webp"/>
        <source srcset="./images/reviews/foto-lg@1x.png 1x, ./images/reviews/foto-lg@2x.png 2x" type="image/png" />
        <img src="./images/reviews/foto-lg@1x.png" alt="Photo" /> 
      </picture>
    </div>
      <p class="review">
        I love eating popsicles on a hot day. Yours is always delicious. I recommend your cafe to everyone I know.
      </p>
      <p class="review__name">Sam, Los Angeles</p>
    </div>
  </div>
</section>