<section class="reviews">
    <div>
      <h2>Reviews about us</h2>
      <div>
        <picture>
          <source />
        </picture>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam,
          quibusdam.
        </p>
        <p>Ім'я, місто</p>
      </div>
      <div>
        <picture>
          <source />
        </picture>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam,
          quibusdam.
        </p>
        <p>Ім'я, місто</p>
      </div>
      <div>
        <picture>
          <source />
        </picture>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam,
          quibusdam.
        </p>
        <p>Ім'я, місто</p>
      </div>
    </div>
  </section>