.title {
  font-family: var(--secondary-font);
  @include fonts(null, 30px, 38px, 0.04em);
  text-transform: uppercase;
  text-align: center;

  @media screen and(min-width:768px) {
    @include fonts(null, 34px, 45px, 0.06em);
  }

  @media screen and(min-width:1200px) {
    @include fonts(null, 36px, 45px, 0.06em);
  }

  &--light {
    color: var(--main-white);
  }

  &--dark {
    color: var(--main-dark);
  }
}
