.gallery {
  position: relative;
  width: 100%;
  background-image: url(/src/images/gallery/icebackground-tell.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: url(/src/images/gallery/icebackground-tell-2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(/src/images/gallery/icebackground-tab.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: url(/src/images/gallery/icebackground-tab-2x.jpg);
  }

  @media screen and (min-width: 1200px) {
    background-image: url(/src/images/gallery/icebackground-desk.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    background-image: url(/src/images/gallery/icebackground-desk-2x.jpg);
  }
}

.slider-gallery {
  position: absolute;
  top: -24px;
  left: 50%;
  width: 279px;
  height: 130.03px;
  transform: translateX(-50%);
  // margin-left: auto;
  // margin-right: auto;
}

.slider-gallery__img {
  border-radius: 7.40681px;
}

@media screen and (min-width: 768px) {
  .slider-gallery {
    top: -163px;
    width: 704px;
    height: 327px;
  }

  .slider-gallery__img {
    border-radius: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .slider-gallery {
    top: -85px;
    width: 1013px;
    height: 422px;
  }
}

.slider-gallery__img {
  border-radius: 24px;



  background-image: url('../images/contacts/contacts-bg-sm-@1x.png');

  @media screen and (min-width: 768px) {
    background-image: url('../images/contacts/contacts-bg-md-@1x.png');
  }

  @media screen and (min-width: 1200px) {
    background-image: url('../images/contacts/contacts-bg-lg-@2x.png');

  }
}


  .slider-gallery__img {
    border-radius: 24px;
  }
    // background-image: url('../images/contacts/contacts-bg-sm-@1x.png');

    // @media screen and (min-width: 768px) {
    //     background-image: url('./images/contacts/contacts-bg-md-@1x.png');
    // }

    // @media screen and (min-width: 1200px) {
    //     background-image: url('./images/contacts/contacts-bg-lg-@2x.png');

    // }

