.header {
  position: fixed;
  width: 100%;
  z-index: 10;

  background-color: var(--main-green);

  &__container {
    padding-top: 12px;

    display: flex;
    align-items: center;

    @media screen and (min-width: 768px) {
      padding-top: 20px;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 8px;
    }
  }

  &__logo {
    margin-right: auto;

    @media screen and (min-width: 1200px) {
      margin-right: 269px;
    }
  }

  &__button {
    min-width: 152px;
    min-height: 42px;
    padding: 12px 34px;
    margin-right: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;

    font-family: 'Montserrat';
    font-style: normal;
    @include fonts(600, 14px, 17px, null);

    color: var(--main-dark);
    background-color: var(--main-accent);
    border-radius: 10px;

    transition: background-color 250ms linear, color 250ms linear;

    &:hover {
      background-color: var(--main-dark-green);
    }

    &:focus {
      color: var(--main-white);
      background-color: var(--main-dark-green);
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__icon {
    fill: currentColor;
  }
}

.nav {
  margin-right: auto;

  &__list {
    @include list;

    @include flex(row, null, null, center);
    gap: 27px;
  }

  &__link {
    @include link;

    @include fonts(700, 16px, 20px, null);

    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;

    transition: color 250ms linear;

    &:hover,
    &:focus {
      color: var(--main-accent);
    }
  }

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.burger__btn {
  display: flex;
  align-items: center;
  padding: 0;

  color: var(--main-white);
  background-color: transparent;
  stroke: currentColor;

  transition: color 250ms linear;

  &:focus {
    color: var(--main-accent);
  }

  // @media screen and (min-width: 768px) {
  //   margin-right: 32px;
  // }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.header-bg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.mobile-navigation {
  position: fixed;

  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--main-green);

  transform: translateX(160%);
  transition: transform 250ms linear;

  @media screen and (min-width: 480px) {
    width: 100%;
    height: 100%;
    margin-bottom: 63px;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    height: 100%;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }

  &.is-open {
    transform: translateX(0);

    @media screen and (min-width: 480px) {

      width: 100%;
      height: 100%;

      left: 50%;
      transform: translateX(-50%);
    }

    @media screen and (min-width: 768px) {
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 100%;
      transform: translateX(0);
    }
  }

  &__logo {
    padding-top: 12px;
    padding-left: 31px;
    margin-bottom: 51px;
    margin-right: 0;

    @media screen and (min-width: 768px) {
      padding-top: 20px;
      padding-left: 32px;
      margin-bottom: 76px;
      margin-right: 0;
    }
  }

  &__close {
    position: absolute;
    top: 16px;
    right: 20px;
    padding: 0;

    display: flex;
    align-items: center;

    color: var(--main-white);
    background-color: transparent;

    transition: color 250ms linear;

    @media screen and (min-width: 768px) {
      top: 32px;
      right: 32px;
    }

    &:focus {
      color: var(--main-accent);
    }
  }

  &__cross {
    fill: currentColor;
  }

  &__list {
    @include list;
    margin-bottom: 111px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    @media screen and (min-width: 768px) {
      gap: 40px;
    }
  }

  &__link {
    @include link;

    @include fonts(700, 32px, 39px, null);

    @media screen and (min-width: 768px) {
      @include fonts(700, 48px, 59px, null);
    }
    transition: color 250ms linear;
    &:hover,
    &:focus {
      color: var(--main-dark);
    }
  }

  &__btn {
    width: 152px;
    height: 42px;
    padding: 12px 34px;

    margin-right: auto;
    margin-left: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;

    @include fonts(600, 14px, 17px, null);

    background-color: var(--main-accent);
    border-radius: 10px;

    transition: background-color 250ms linear, color 250ms linear;

    &:hover {
      background-color: var(--main-dark-green);
    }

    &:focus {
      color: var(--main-white);
      background-color: var(--main-dark-green);
    }

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__icon {
    fill: currentColor;
  }
}


.mobile-navigation.is-open {
left: 50%;
}