.products {
  @include section(60px, 60px);
  // mobile
  background-image: url(../images/products/mobile-bg/mobile-bg@1x.png);
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products/mobile-bg/mobile-bg@1x.webp),
      url(../images/products/mobile-bg/mobile-bg@2x.png),
      url(../images/products/mobile-bg/mobile-bg@2x.webp);
  }
  // tablet
  @media screen and(min-width: 768px) {
    background-image: url(../images/products/products-bg-md-@1x.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/products-bg-md-@1x.webp),
        url(../images/products/products-bg-md-@2x.png),
        url(../images/products/products-bg-md-@2x.webp);
    }
  }
  // desctop
  @media screen and(min-width: 1200px) {
    background-image: url(../images/products/products-bg-lg-@2x.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/products-bg-lg-1x.webp),
        url(../images/products/products-bg-lg-@2x.png),
        url(../images/products/products-bg-lg-@2x.webp);
    }
  }

  &__uppertitle {
    @include fonts(800, 18px, 24px, null);
    margin-bottom: 12px;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-dark);
    @media screen and(min-width: 768px) {
      margin-top: 60px;
    }
  }

  &__title {
    @include fonts(null, 30px, 38px, 0.04em);
    text-align: center;
    text-transform: uppercase;
    color: var(--main-dark);
    font-family: var(--secondary-font);

    margin-bottom: 148px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 164px;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 16px;
    }
    @media screen and(min-width: 1200px) {
      flex-direction: row;
      gap: 32px;
      justify-content: center;
    }
  }
  // &__item::before{
  //   content: "";
  //   background-image: url(../images/products/1-products-sm-2@1x.png);
  //   background-repeat: no-repeat;
  //   background-size: contain;
  // }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
  
    // max-width: 240px;
    // height: 420px;
    border-radius: 24px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
    padding-top: 100px;
   
    // @media screen and(min-width: 768px) {
    //   width: 224px;
    //   height: 428px;
    // }
    // @media screen and(min-width: 1200px) {
    //   width: 370px;
    //   height: 450px;
    // }
  }

  &__item {
    background-color: var(--main-green);
  }

  &__wrapper--yellow {
    background-color: #efd478;
  }

  &__wrapper--brown {
    background-color: var(--main-red);
  }

  &__image-wrap{
    position: absolute;
    top: -120px;
    left: 20px;
    width: 200px;
    min-height: 200px;
    border-radius: 50%;
   }
   &__image--green{
    background-color: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)),
      #D9D9D9;
      box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
      background-color: var(--main-green)
   }
   &__image--yellow{
    background-color: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)),
      #D9D9D9;
      box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
      background-color: #efd478;
   }

   &__image--brown{
    background-color: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)),
      #D9D9D9;
      box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
      background-color: var(--main-red);
   }

  &__heading {
    @include fonts(700, 20px, 24px, 0.04em);
    text-align: center;
    text-transform: uppercase;
    color: var(--main-dark);
    margin-bottom: 40px;
  }

  &__description {
    @include fonts(null, 14px, 25px, 0.04em);
    text-align: center;
    color: var(--main-dark);
    margin-bottom: 50px;
  }

  &__button {
    display: flex;
    background-color: transparent;
    margin: 0 auto;
    transform: scaleX(1);
    border: 1px solid black;
  }

  &__button:hover {
    transform: scaleX(1.3);
  }
}
